# FD mode can be disabled, and in fact is has to for STK rev.0
# For 2.0B legacy mode, arbitration bit rate (bitrate) and
# payload bit rate (dbitrate) have the same value - not higher than 1Mbps.
# This is automatically the case for fd off
# CAN frames are limited to max 8 bytes in this case
[Unit]
Description=can1 interface setup

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/sbin/ip link set can1 up type can bitrate 125000 fd off
ExecStop=/sbin/ip link set can1 down

[Install]
WantedBy=basic.target
