uboot:
  size: 0x10000
  devices:
    - path: /dev/mmcblk0
      offset: 0x400000
    - path: /dev/mmcblk0
      offset: 0x410000
uboot-sd:
  size: 0x10000
  devices:
    - path: /dev/mmcblk1
      offset: 0x400000
    - path: /dev/mmcblk1
      offset: 0x410000
uboot-qspi:
  size: 0x10000
  devices:
    - path: /dev/mtd0
      offset: 0x400000
      sectorsize: 0x10000
    - path: /dev/mtd0
      offset: 0x410000
      sectorsize: 0x10000
