# Configuration file for fw_(printenv/setenv) utility.
# Up to two entries are valid, in this case the redundant
# environment sector is assumed present.
# Notice, that the "Number of sectors" is not required on NOR and SPI-dataflash.
# Futhermore, if the Flash sector size is omitted, this value is assumed to
# be the same as the Environment size, which is valid for NOR and SPI-dataflash
# Device offset must be prefixed with 0x to be parsed as a hexadecimal value.

# TQMa8Xx[S,4] eMMC
#/dev/mmcblk0		0x400000	0x8000
#/dev/mmcblk0		0x408000	0x8000

# TQMa8Xx[S,4] SD
#/dev/mmcblk1		0x400000	0x8000
#/dev/mmcblk1		0x408000	0x8000

# TQMa8Xx[S,4] QSPI
#/dev/mtd0		0x400000	0x8000		0x10000
#/dev/mtd0		0x410000	0x8000		0x10000
