# FD mode can be disabled, tqma8xqp-mbapa8xx supports FD
# For 2.0B legacy mode, arbitration bit rate (bitrate) and
# payload bit rate (dbitrate) have the same value - not higher than 1Mbps.
# This is automatically the case for fd off
# CAN frames are limited to max 8 bytes in this case
[Unit]
Description=can0 interface setup

[Service]
Type=simple
RemainAfterExit=yes
# use this as template for FAN FD support
# ExecStart=/sbin/ip link set can0 up type can bitrate 500000 dbitrate 2000000 fd on
# CAN 2.0B legacy
ExecStart=/sbin/ip link set can0 up type can bitrate 125000 fd off
ExecStop=/sbin/ip link set can0 down

[Install]
WantedBy=basic.target
