LABEL linux
	# Adjust path to fitImage (relative to TFTP root)
	#
	# FIT configuration suffixes can be added if needed (see generated
	# extlinux.conf in BSP artifact directory for examples)
	KERNEL fitImage
	# Kernel cmdline, can be edited as needed
	#
	# The root filesystem must be unpacked at the referenced path on an
	# NFSv3 server. For permissions of the rootfs to be set correctly,
	# unpack as root and set the `no_root_squash` option for the NFS export.
	# Variables like `${board_name}` etc. refer to the U-Boot environment.
	APPEND rootwait rw ip=${ipaddr}:${serverip}:${gatewayip}:${netmask}:${hostname}:eth0:off nfsroot=${serverip}:/srv/nfs/${board_name},v3,tcp console=${console},${baudrate} ${bootargs_extra}
