# SPDX-License-Identifier: MIT
#
# Copyright (c) 2024 TQ-Systems GmbH <oss@ew.tq-group.com>, D-82229 Seefeld, Germany.
# Author: Matthias Schiffer

[Unit]
Description=RAUC system.conf selection
DefaultDependencies=no
Before=sysinit.target

[Service]
ExecStart=@LIBEXECDIR@/tq/rauc-conf.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
